<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.him.fpjt.him_backend.user.dao.AttendanceDao">
  <insert id="insertAttendance" parameterType="Attendance">
    INSERT INTO attendance (attend_dt, is_attended, user_id)
    VALUES (#{attendDt}, #{isAttended}, #{userId})
  </insert>
  <update id="updateAttendanceStatus" parameterType="map" >
    UPDATE attendance
    SET is_attended = true
    WHERE user_id = #{userId} AND attend_dt = #{attendDt}
  </update>
  <select id="selectAttendanceByUserIdAndDateRange" parameterType="map" resultType="Attendance">
    SELECT * FROM attendance
    WHERE user_id = #{userId}
      AND attend_dt BETWEEN #{startOfMonth} AND #{endOfMonth}
  </select>
</mapper>