<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.him.fpjt.him_backend.exercise.dao.TodayChallengeDao">
  <insert id="insertTodayChallenge" parameterType="TodayChallenge" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO today_challenge (cnt, challenge_id, date)
    VALUES (#{cnt}, #{challengeId}, #{date})
  </insert>
  <select id="existsTodayChallengeByChallengeIdAndDate" parameterType="map" resultType="boolean">
      SELECT EXISTS (
          SELECT 1 FROM today_challenge
          WHERE date = #{date}
          AND challenge_id = #{challengeId}
      )
  </select>
  <select id="selectTodayChallengeById" parameterType="long" resultType="TodayChallenge">
    SELECT * FROM today_challenge WHERE id = #{id}
  </select>
  <update id="updateTodayChallenge" parameterType="TodayChallenge">
    UPDATE today_challenge SET cnt = #{cnt} WHERE id = #{id}
  </update>
  <delete id="deleteTodayChallengeByChallengeId" parameterType="long">
    DELETE FROM today_challenge WHERE challenge_id = #{id}
  </delete>
  <select id="checkAchievementStreak" parameterType="map" resultType="boolean">
    SELECT COUNT(*) = #{days}
    FROM today_challenge
    WHERE challenge_id = #{challengeId}
      AND date >= DATE_SUB(#{date}, INTERVAL #{days} DAY)
      AND cnt >= (SELECT goal_cnt FROM challenge WHERE id = #{challengeId})
  </select>
  <select id="findUnachievedChallenges" parameterType="java.time.LocalDate" resultType="TodayChallenge">
    SELECT *
    FROM today_challenge tc
           JOIN challenge c ON tc.challenge_id = c.id
    WHERE tc.date = #{yesterday}
      AND c.status = 'ONGOING'
      AND tc.cnt &lt; c.goal_cnt
  </select>
</mapper>