<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.him.fpjt.him_backend.user.dao.UserDao">
    <!-- 사용자의 경험치를 업데이트하는 SQL 구문 -->
    <update id="updateUserExp" parameterType="map">
        UPDATE user
        SET exp = exp + #{expPoints}
        WHERE id = #{userId}
    </update>
    <select id="selectAllUserIds" resultType="long">
        SELECT id FROM user
    </select>
</mapper>