<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.him.fpjt.him_backend.user.dao.UserDao">
    <update id="updateUserExp" parameterType="map">
        UPDATE user
        SET exp = exp + #{expPoints}
        WHERE id = #{userId}
    </update>

    <select id="selectAllUserIds" resultType="long">
        SELECT id FROM user
    </select>

    <select id="selectUserById" parameterType="long" resultType="User">
        SELECT * FROM user WHERE id = #{userId}
    </select>

    <select id="selectUserByEmail" parameterType="String" resultType="User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <update id="updateUserInfo" parameterType="User" >
        UPDATE user
        SET nickname = #{nickname}, profile_img = #{profileImg}
        WHERE id = #{id}
    </update>

    <select id="existsDuplicatedNickname" parameterType="String" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN true ELSE false END
        FROM user
        WHERE nickname = #{nickname}
    </select>

    <insert id="saveUser" parameterType="User">
        INSERT INTO user (nickname, email, password, profile_img, tier, exp)
        VALUES (#{nickname}, #{email}, #{password}, #{profileImg}, #{tier}, #{exp})
    </insert>

    <select id="existsByEmail" parameterType="String" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN true ELSE false END
        FROM user
        WHERE email = #{email}
    </select>
</mapper>